JWT_SECRET=45158dbfeaf5e7d36f14353b01acc7c1fc225b4b2bdc2acb727a7e18add713e8
JWT_AUDIENCE=ApiClients
JWT_ISSUER=Backend

Cloudinary__CloudName=dvyrpsngz
Cloudinary__ApiKey=774645213218855
Cloudinary__ApiSecret=BO6XudYmLW_YVYgY_Vk1lIIvCKs

PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin

POSTGRES_USER=postgres
POSTGRES_PASSWORD=admin
POSTGRES_DB=backendDb


ConnectionStrings__Postgres=Host=postgres;Port=5432;Database=backendDb;Username=postgres;Password=admin

Stripe__SecretKey=sk_test_51T3vN3CY1WHHM8WZi9aaLpk6UzbNNWMYhc9xqNyOOlmnzuIcPT11Slcqg0EYJCRVARePpNiIDf8FfXPxUYWM8i8A00hw2nF4Ix